<section>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="col mb-5 d-flex flex-column align-items-center">
      <div class="m-5">
        <a [routerLink]="['/']">
          <img class="img-fluid" src="assets/img/shibuya.png" alt="" />
        </a>
      </div>
      <div class="card w-75">
        <div class="card-body">
          <h2 class="card-title text-center mb-5">Registro</h2>
          <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="José Miguel" required
                [(ngModel)]="newUser.nombre" #name="ngModel">
              <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
                Por favor, ingresa tu nombre.
              </div>
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Rojas Pérez"
                required [(ngModel)]="newUser.apellidos" #lastname="ngModel">
              <div class="invalid-feedback" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                Por favor, ingresa tus apellidos.
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-6">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="984948321" required
                  [(ngModel)]="newUser.telefono" #phone="ngModel">
                <div class="invalid-feedback" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                  Por favor, ingresa un teléfono válido.
                </div>
              </div>
              <div class="col-md-6">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Osorno" required
                  [(ngModel)]="newUser.ciudad" #city="ngModel">
                <div class="invalid-feedback" *ngIf="city.invalid && (city.dirty || city.touched)">
                  Por favor, ingresa una ciudad válida.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Av. las condes 183"
                required [(ngModel)]="newUser.direccion" #address="ngModel">
              <div class="invalid-feedback" *ngIf="address.invalid && (address.dirty || address.touched)">
                Por favor, ingresa una dirección válida.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@gmail.com"
                required [(ngModel)]="newUser.email" #email="ngModel">
              <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                Por favor, ingresa un correo electrónico válido.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="************"
                required [(ngModel)]="newUser.password" #password="ngModel">
              <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                Por favor, ingresa una contraseña válida.
              </div>
              <div id="passwordHelpBlock" class="form-text mt-2">
                · Tu contraseña debe tener una longitud entre 8 y 20 caracteres.
              </div>
              <div id="passwordHelpBlock" class="form-text">
                · Tu contraseña debe tener una mayúscula.
              </div>
              <div id="passwordHelpBlock" class="form-text">
                · Tu contraseña debe tener números.
              </div>
              <div id="passwordHelpBlock" class="form-text">
                · Tu contraseña debe tener letras.
              </div>
            </div>
            <div class="mt-4">
              <button class="btn btn-dark" type="submit">Registrarme</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
