<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/img/shibuya.png" alt="logo-brand" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" [class.active]="activePage === 'Inicio'" [routerLink]="['/']">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="activePage === 'Ofertas'" [routerLink]="['/ofertas']">Ofertas</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [class.active]="activePage === 'Categorias'" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/categorias']">Todas las categorias</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" [routerLink]="['/aventura']">Aventura</a></li>
            <li><a class="dropdown-item" [routerLink]="['/cooperativo']">Cooperativo</a></li>
            <li><a class="dropdown-item" [routerLink]="['/estrategia']">Estrategia</a></li>
            <li><a class="dropdown-item" [routerLink]="['/solitario']">Solitario</a></li>
            <li><a class="dropdown-item" [routerLink]="['/familiar']">Familiar</a></li>
            <li><a class="dropdown-item" [routerLink]="['/otros']">Otros</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" [routerLink]="['/juegos']">Todos los juegos</a></li>
          </ul>
        </li>
        <li *ngIf="currentUser && currentUser.role ==='admin'" class="nav-item"><a class="nav-link" [class.active]="activePage === 'Usuarios'" [routerLink]="['/usuarios']">Usuarios</a></li>
      </ul>
      <a [routerLink]="['/carrito']">
        <button class="btn btn-outline-dark me-2">
          <i class="bi-cart-fill me-1"></i>
          Carrito
          <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart-count">{{ cartCount }}</span>
        </button>
      </a>
      <a id="user-icon" [routerLink]="['/perfil']" *ngIf="currentUser">
        <button class="btn btn-outline-dark me-2">
          <i class="bi-person-fill"></i>
        </button>
      </a>
      <a id="login-icon" [routerLink]="['/login']" *ngIf="!currentUser">
        <button class="btn btn-outline-dark">
          <i class="bi-box-arrow-right"></i>
          Iniciar sesión
        </button>
      </a>
    </div>
  </div>
</nav>
