<app-navbar [activePage]="'Categorias'"></app-navbar>
<app-header title="Categorias" subtitle="¡Navega y descubre nuestras categorías!"></app-header>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/aventura.png" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Aventura</h5>
              <p class="card-text">Juegos que sumergen a los jugadores en historias épicas, exploración y misiones emocionantes.</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="aventura.html">Ir a la categoría</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/cooperativo.png" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Cooperativo</h5>
              <p class="card-text">Juegos donde los jugadores trabajan juntos contra el juego para alcanzar un objetivo común.</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="cooperativo.html">Ir a la categoría</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/estrategia.png" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Estrategia</h5>
              <p class="card-text">Juegos que requieren planificación y toma de decisiones cuidadosas para superar a los oponentes.</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="estrategia.html">Ir a la categoría</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/solitario.png" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Solitario</h5>
              <p class="card-text">Juegos diseñados para un solo jugador, ofreciendo desafíos y entretenimiento personal.</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="solitario.html">Ir a la categoría</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/familiar.png" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Familiar</h5>
              <p class="card-text">Juegos accesibles y divertidos para todas las edades, ideales para compartir y jugar en familia.</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="familiar.html">Ir a la categoría</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/otros.png" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Otros</h5>
              <p class="card-text">Juegos que no encajan en las categorías anteriores, incluyendo innovaciones y mecánicas únicas.</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="otros.html">Ir a la categoría</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>