<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="col mb-5 d-flex flex-column align-items-center">
      <div class="m-5">
        <a [routerLink]="['/']">
          <img class="img-fluid" src="assets/img/shibuya.png" alt="" />
        </a>
      </div>
      <div class="card w-75">
        <div class="card-body">
          <h2 class="card-title text-center mb-5">Inicio de sesión</h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="loginEmail" class="form-label">Correo electrónico</label>
              <input type="email" formControlName="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com">
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo electrónico es requerido.</small>
                <small *ngIf="loginForm.get('email')?.errors?.['email']">Debe ser un correo electrónico válido.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="loginPass" class="form-label">Contraseña</label>
              <input type="password" formControlName="password" class="form-control" id="loginPass" placeholder="************">
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-dark" [disabled]="loading || loginForm.invalid">
              <span *ngIf="!loading" aria-hidden="true">Ingresar</span>
              <span *ngIf="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Ingresando...
              </span>
            </button>
          </form>
          <p class="card-text mt-4">¿Aún no estás registrado? <a class="link-dark" [routerLink]="['/registro']">Regístrate aquí</a></p>
          <a class="card-link link-dark" [routerLink]="['/recuperar']">Recuperar contraseña</a>
        </div>
      </div>
    </div>
  </div>
</section>
