<app-navbar [activePage]="'Perfil'"></app-navbar>
<section class="mb-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="card w-75">
        <div class="card-body">
          <h2 class="card-title text-center mb-5">Perfil de usuario</h2>
          <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
            <div class="mb-3">
              <label for="user-name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="user-name" formControlName="name">
              <div class="text-danger" *ngIf="profileForm.get('name')?.invalid && (profileForm.get('name')?.dirty || profileForm.get('name')?.touched)">
                Por favor, ingresa tu nombre.
              </div>
            </div>
            <div class="mb-3">
              <label for="user-lastname" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="user-lastname" formControlName="last_names">
              <div class="text-danger" *ngIf="profileForm.get('last_names')?.invalid && (profileForm.get('last_names')?.dirty || profileForm.get('last_names')?.touched)">
                Por favor, ingresa tus apellidos.
              </div>
            </div>
            <div class="mb-3">
              <label for="user-phone" class="form-label">Teléfono</label>
              <input type="text" class="form-control" id="user-phone" formControlName="phone">
              <div class="text-danger" *ngIf="profileForm.get('phone')?.invalid && (profileForm.get('phone')?.dirty || profileForm.get('phone')?.touched)">
                Por favor, ingresa un teléfono válido.
              </div>
            </div>
            <div class="mb-3">
              <label for="user-city" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="user-city" formControlName="city">
              <div class="text-danger" *ngIf="profileForm.get('city')?.invalid && (profileForm.get('city')?.dirty || profileForm.get('city')?.touched)">
                Por favor, ingresa una ciudad válida.
              </div>
            </div>
            <div class="mb-3">
              <label for="user-address" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="user-address" formControlName="address">
              <div class="text-danger" *ngIf="profileForm.get('address')?.invalid && (profileForm.get('address')?.dirty || profileForm.get('address')?.touched)">
                Por favor, ingresa una dirección válida.
              </div>
            </div>
            <div class="mb-3">
              <label for="user-email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="user-email" formControlName="email">
              <div class="text-danger" *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)">
                Por favor, ingresa un correo electrónico válido.
              </div>
            </div>
            <div class="text-center d-flex flex-row justify-content-between mt-5">
              <button class="btn btn-dark btn-lg" type="button" (click)="toggleEdit()">
                {{ editing ? 'Cancelar' : 'Editar perfil' }}
              </button>
              <button class="btn btn-dark btn-lg" *ngIf="editing" type="submit">Guardar cambios</button>
              <button class="btn btn-danger btn-lg" type="button" (click)="logout()">Cerrar sesión</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
