<section>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="col mb-5 d-flex flex-column align-items-center">
      <div class="m-5">
        <a href="index.html">
          <img class="img-fluid" src="assets/img/shibuya.png" alt="" />
        </a>
      </div>
      <div class="card w-75">
        <div class="card-body">
          <h2 class="card-title text-center mb-5">Recuperar contraseña</h2>
          
          <!-- Mostrar formulario o mensaje de éxito -->
          <ng-container *ngIf="!emailSent; else emailSentMessage">
            <form id="recovery-form" (ngSubmit)="sendRecoveryEmail()">
              <div class="mb-3">
                <label for="inputEmail" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com" name="email" [(ngModel)]="email">
              </div>
              <button type="submit" class="mt-2 btn btn-dark" [disabled]="loading">
                <span *ngIf="!loading" aria-hidden="true">Enviar</span>
                <span *ngIf="loading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Enviando...
                </span>
              </button>
            </form>
          </ng-container>
          
          <ng-template #emailSentMessage>
            <p class="card-text mt-4 fw-light">Se ha enviado un correo con el link de recuperación. Recuerda buscar en tu bandeja de spam o correo no deseado.</p>
            <button type="submit" class="mt-2 btn btn-dark" [routerLink]="['/']">Ir a inicio</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
